modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "NextJS"

[[workflows.workflow]]
name = "NextJS"
mode = "sequential"
author = 40734432

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
